.category-card {
  background: #f5f8fc;
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-card img {
  max-width: 100%;
  height: 28vw;
  object-fit: cover;
}

.category-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 16px 15px;
}

.category-info h3 {
  color: var(--Dark-Gray, #232321);
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: 40%;
}

.category-btn {
  background: #232321;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 12px;
  margin-right: 40px;
}
