.new-drops-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  margin: 0 0 50px 0;
}

.new-drops-wrapper {
  margin: 6vw 3vw;
}

.new-drops-header h4 {
  width: 60%;
  color: var(--Dark-Gray, #232321);
  font-family: Rubik;
  font-size: clamp(0.5rem, 8vw, 4rem);
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  text-transform: uppercase;
  flex-direction: column; /* đảm bảo mỗi span là 1 dòng */
}

.new-drops-header .line {
  display: block;
  white-space: nowrap;
}

.new-drops-header button {
  color: var(--Pure-White, #fff);
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  border-radius: 8px;
  background: var(--Blue, #4a69e2);
  display: flex;
  height: 48px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
}

.new-drops-list {
  /* justify-content: center; */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Cho responsive nếu cần */
  justify-content: space-between;
  gap: 16px;
}
/* .card-wrapper {
    min-width: 160px;
} */

@media (max-width: 768px) {
  .new-drops-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; /* Cho responsive nếu cần */
    justify-content: space-between;
    gap: 16px;
  }
  .card-wrapper .product-card {
    width: 27vw !important;
  }

  .new-drops-header h4 {
    width: 50%;
    font-size: clamp(0.5rem, 6vw, 2.5rem);
    font-weight: 600;
    line-height: 95%;
  }
}

@media (max-width: 480px) {
  .card-wrapper .product-card {
    width: 40vw !important;
  }
}
