.footer-container {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  overflow: hidden;
  margin: 15px;
  border-radius: 2rem;
}

.newsletter-section {
  background-color: #4361ee;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.newsletter-content {
  max-width: 500px;
}

.input-group {
  display: flex;
  gap: 0.5rem;
  color: white;
}

.background{
  background-color: #4361ee;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.footer-links {
  background-color: black;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.social-icons svg:hover {
  color: orange;
}

.footer-bottom {
  background-color: #e6e6e6;
  text-align: center;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .newsletter-section,
  .footer-links {
    padding: 1.5rem;
  }

  .input-group {
    margin-top: 1rem;
  }

  .logo-area {
    text-align: right;
  }
}

.logo-above{
  width: 600px;
  max-width: 65%;
}

.logo-below{
  width: 1500px;
  max-width: 95%;
}

.footer-logo-below{
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}