.app-header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 64px;
  margin: 15px;
  border-radius: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-left {
  flex: 1;
  justify-content: flex-start;
}

.header-center {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo-img {
  width: 400px;
  max-width: 45%;
  height: 10%;
  fill: #000;
  object-fit: contain;
  filter: brightness(0) invert(0);
}

.header-right {
  flex: 1;
  justify-content: flex-end;
}

.header-icon {
  font-size: 18px;
  cursor: pointer;
  color: #000;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
}

.header-avatar {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.menu-icon {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.noti {
  background-color: orange;
}

.header-search-result-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background 0.18s, box-shadow 0.18s;
  cursor: pointer;
}
.header-search-result-item:hover {
  background: #f5f7ff;
  box-shadow: 0 2px 8px rgba(74, 105, 226, 0.08);
}

.header-search-result-item img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.header-search-result-item span {
  font-weight: 500;
  font-size: 18px;
  color: #232321;
}
