.cart-wrapper {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fafafa;
  height: 500px;
  overflow-y: auto;
}

.cart-items-scroll {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-wrapper .cart-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.cart-wrapper h2 {
  color: var(--Dark-Gray, #232321);
  /* Rubik/32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cart-wrapper p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark-Gray, #232321);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.8;
}
